" LOCATION : ~/.config/nvim/init.conf
set nocompatible
syntax on
set laststatus=2
set t_Co=256
set number
set autoindent
set incsearch
set nohlsearch
set tabstop=2 softtabstop=0 expandtab shiftwidth=2 smarttab

" set default splits to below and right
set splitbelow splitright

" Map keys for switching splits
map <C-j> <C-w>j
map <C-k> <C-w>k
map <C-h> <C-w>h
map <C-l> <C-w>l

" Map keys for switching buffers
map <C-n> :next!<CR>
map <C-p> :previous!<CR>

" CtrlP configs
let g:ctrlp_map = '<c-p>'
let g:ctrlp_cmd = 'CtrlP'

" Syntastic configs
set statusline+=%#warningmsg#
set statusline+=%{SyntasticStatuslineFlag()}
set statusline+=%*

let g:syntastic_always_populate_loc_list = 1
let g:syntastic_auto_loc_list = 1
let g:syntastic_check_on_open = 1
let g:syntastic_check_on_wq = 0

" Sygnify configs
let g:signify_disable_by_default     = 0
let g:signify_sign_add               = '+'
let g:signify_sign_delete            = '-'
let g:signify_sign_delete_first_line = '='
let g:signify_sign_change            = '!'
let g:signify_sign_changedelete      = g:signify_sign_change


" Using Vim-Plugs to manage
" Vim plugins
call plug#begin()
" === Standard defaults
" For async completion
Plug 'Shougo/deoplete.nvim'
" For Denite features
Plug 'Shougo/denite.nvim'
" AutoClose Plugin
Plug 'Townk/vim-autoclose'
" Airline Plugin
Plug 'vim-airline/vim-airline'
Plug 'vim-airline/vim-airline-themes'
" CtrlP fuzzy file finder
Plug 'ctrlpvim/ctrlp.vim'
" Signify -- shows added and deleted line for git
Plug 'mhinz/vim-signify'
" Syntastic -- for syntax checking
Plug 'vim-syntastic/syntastic'

" Programming language specific 
" plugins
Plug 'HerringtonDarkholme/yats.vim'
Plug 'mhartington/nvim-typescript', {'do': './install.sh'}
call plug#end()
